* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000; /* Fondo negro alrededor */
    overflow: hidden; /* Evita barras de desplazamiento */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-fondo {
    width: 100vw;
    height: 100vh;
    object-fit: contain; /* Muestra toda la imagen completa sin recortar nada */
    display: block;
    user-select: auto; /* Asegura que la interacción e inspección con el ratón esté permitida */
}
